*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container__general{
    border: blue 3px dotted;
    width: 100%;
    height: 100vh;
    /* para centrar  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}